html {
  //fonts
  --ser: "Fraunces", serif;
  --sansSer: "Barlow", sans-serif;
  //colors
  --softRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --darkDesSyan: hsl(167, 40%, 24%);
  --darkBlue: hsl(198, 62%, 26%);
  --darkModSyan: hsl(168, 34%, 41%);
  --darkDesBlue: hsl(212, 27%, 19%);
  --darkGrayBlue: hsl(232, 10%, 55%);
  --grayBlue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  /////width
  --mobileWidth: 400px;
}
