.graphPhotoSection {
  display: flex;
  justify-content: center;
  align-items: end;
  .box {
    width: 340px;
    margin-bottom: 60px;
    text-align: center;
    h3 {
      margin-bottom: 30px;
      font-family: var(--ser);
      font-size: 28px;
      font-weight: 900;
    }
    p {
      font-family: var(--sansSer);
      font-size: 0.9em;
      font-weight: 600;
      letter-spacing: -0.02em;
      line-height: 1.6;
    }
  }
}
.section5 {
  grid-column: 1 / 3;
  background: url(/images/desktop/image-graphic-design.jpg) top/cover no-repeat;
  h3 {
    color: var(--darkDesSyan);
  }
  p {
    color: hsl(167, 40%, 34%);
  }
}
.section6 {
  grid-column: 3 / 5;
  background: url(/images/desktop/image-photography.jpg) top/cover no-repeat;
  h3 {
    color: var(--darkBlue);
  }
  p {
    color: hsl(198, 41%, 32%);
  }
}
.section7 {
  grid-column: 1 / 2;
  background: url(/images/desktop/image-gallery-milkbottles.jpg);
  background-size: contain;
}
.section8 {
  grid-column: 2 / 3;
  background: url(/images/desktop/image-gallery-orange.jpg);
  background-size: contain;
}
.section9 {
  grid-column: 3 / 4;
  background: url(/images/desktop/image-gallery-cone.jpg);
  background-size: contain;
}
.section10 {
  grid-column: 4 / 5;
  background: url(/images/desktop/image-gallery-sugarcubes.jpg);
  background-size: contain;
}
