.navbar {
  height: 90px;
  .logo {
    svg {
      width: 124px;
      margin-left: 20px;
    }
  }
  .links {
    display: none;
  }
  .hamburgerMenu {
    margin-right: 20px;
    span {
      display: block;
      width: 25px;
      height: 2px;
      margin-bottom: 6px;
      position: relative;
      background: white;
      border-radius: 3px;
      z-index: 1;
    }
  }
  .dropDownMenu {
    position: absolute;
    top: 105px;
    left: 20px;
    right: 20px;
    height: 305px;
    padding-top: 40px;
    background-color: white;
    a {
      display: block;
      opacity: 0;
      margin-bottom: 33px;
      padding-top: 50px;
      font-size: 20px;
      font-weight: 7600;
      letter-spacing: 0;
      text-align: center;
      color: hsl(232, 10%, 45%);
    }
    .contactButton {
      opacity: 0;
      margin: 0 auto;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      background-color: var(--yellow);
      color: var(--darkDesBlue);
      &:hover {
        background-color: hsl(200, 100%, 72%);
        color: hsl(52, 57%, 97%);
      }
    }
  }
  .open {
    display: block;
    a {
      animation: fadeInDown 0.5s ease-in-out both;
      animation-delay: 0s;

      &:nth-of-type(2) {
        animation-delay: 0.1s;
      }
      &:nth-of-type(3) {
        animation-delay: 0.2s;
      }
      &:nth-of-type(4) {
        animation-delay: 0.3s;
      }
    }
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    padding-top: 50px;
  }
  100% {
    opacity: 1;
    padding-top: 0;
  }
}
